# Ignore the virtual environment directory
venv/

# Ignore dataset folders
Screaming/
NotScreaming/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore any logs or temporary files
*.log
*.tmp


# Ignore other common files like .env, .idea, .vscode
.env
.idea/
.vscode/
